* {
  /* border: 1px red solid; */
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.head_bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #323232;
  z-index: 20;
}
#logo {
  height: 60px;
  filter: invert(100%);
}

/* three lines */
#openbtn {
  display: inline-block;
  position: absolute;
  visibility: visible;
  right: 5%;
  top: 10%;
  width: 30px;
  height: 60px;
  z-index: 10;
  margin-top: 10px;
}

#closebtn {
  display: inline-block;
  /* display: none; */
  visibility: hidden;
  position: fixed;
  right: 5%;
  top: 5%;
  width: 20px;
  height: 15px;
  z-index: 10;
  margin-top: 10px;
  padding: 0;
  margin: 0;
}
.up {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  right: 10px;
}
.down {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  right: -5px;
  left: -9px;
  bottom: 9px;
}
.header_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  gap: 30px;
  height: 250px;
  overflow: scroll;
  width: 0;
  background-color: white;
  font-size: larger;
  padding: 30px 0;
  z-index: 11;
  position: fixed;
  top: 60px;
  margin: 0;
scrollbar-width: 10px;
}
.itemSize {
  width: 25%;
}
.header_left a {
  text-decoration: none;
  color: black;
}


main {
  height: 2000px;
  background-color: #323232;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  body {
    margin: 10px auto;
  }

  .navsym {
    display: none;
  }
  .closebtn {
    display: none;
  }
  .header_left {
    width: 450px;
    height: 60px;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(0, 5, 5);
    font-size: larger;
    padding: 0;
    margin: 0;
    z-index: 11;
    position: relative;
  }

  .header_left a {
    color: black;
  }
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .destopView {
    width: 1200px;
    margin: 10px auto;
  }
  header {
    width: 1000px;
  }
  .navsym {
    display: none;
  }
  .closebtn {
    display: none;
  }
  .header_left {
    width: 450px;
    height: 60px;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(0, 5, 5);
    font-size: larger;
    padding: 0;
    margin: 0;
    z-index: 11;
  }

  .header_left a {
    color: black;
  }
 
}
