  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Open+Sans:wght@500;600&display=swap');
* {
  /* border: 1px red solid; */
}
.bg_color {
  /* background-color: #323232; */
  background: local;
}
.cl {
  color: #f55422;
}
.bg_cl{
  background-color: #f55422;

}
.cl1 {
  background-color: rgb(42, 42, 42);
  width: 100%;
  padding-top: 70px;
}
.cl2 {
  background-color: rgb(25, 25, 25);
  width: 100%;
  padding-top: 70px;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/Dev_Header_Image-1280x645.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70%;
}
.bgImg {
  width: 100%;
  visibility: hidden;
}

.head_bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 20;
}
#logo {
  height: 60px;
  filter: invert(100%);
}

/* three lines */
#openbtn {
  display: inline-block;
  position: absolute;
  visibility: visible;
  right: 5%;
  top: 10%;
  width: 30px;
  height: 60px;
  z-index: 10;
  margin-top: 10px;
}

#closebtn {
  display: inline-block;
  visibility: hidden;
  position: fixed;
  right: 5%;
  top: 5%;
  width: 20px;
  height: 15px;
  z-index: 10;
  margin-top: 10px;
  padding: 0;
  margin: 0;
}
.up {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  right: 10px;
}
.down {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  right: -5px;
  left: -9px;
  bottom: 9px;
}
.header_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  height: 250px;
  overflow: scroll;
  width: 0;
  font-size: larger;
  padding: 30px 0;
  z-index: 11;
  position: fixed;
  top: 60px;
  margin: 0;
  scrollbar-width: 10px;
  background-color: white;
}
.itemSize {
  width: 25%;
}
.header_left a {
  text-decoration: none;
  color: black;
}

#jobtitle {
  display: none;
}
.name-animation {
  display: inline-block;
  width: fit-content;
  font-size: 1.5rem;
  animation-iteration-count: infinite;
  animation: write-delete 8s steps(10, start) infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid #000000;
  color: white;
  margin: 8px;
}

/* animation name and title */

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 70px;
  margin: 0 auto;
  color: white;
  text-align: center;
  width: 100%;
}

.welc {
  font-size: 0.8rem;
}
@keyframes write-delete {
  0% {
    width: 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33.33% {
    width: 216px;
    opacity: 1;
  }
  46.67% {
    width: 216px;
    opacity: 1;
  }
  60% {
    width: 0;
    opacity: 0;
  }
  80% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.name-animation::after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
  /* height: 2rem; */
  animation: blink 4s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-color: #ffffff;
  }
  100% {
    border-color: #ffffff;
  }
}

.mylinks {
  position: absolute;
  top: 175px;
}
.mylinks a {
  color: white;
  margin: 15px;
  font-size: large;
}
.headerbtn {
  position: absolute;
  top: 210px;
}
.headerbtn button {
  background-color: #f55422;
  border-radius: 30px;
  padding: 8px 30px;
  margin-top: 25px;
  margin-left: 20px;
  font-size: 14px;
  color: white;
  border: 2px solid #f55422;
}

/*  about me  */
main {
  background-color: rgb(42, 42, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  /* margin-right: 20px; */
}
.profileImg {
  width: 85%;
  border: rgb(98, 83, 44) 5px solid;
}
.aboutName {
  width: 100%;
  margin-bottom: 0;
  font-size: 2.2rem;
}
.abouttitle {
  margin-top: 5px;
  width: 100%;
}
.abouttxt {
  margin: 0;
  color: white;
  padding-top: 20px;
  margin-bottom: 15px;
  font-size: 2rem;

  border-bottom: #f55422 solid 2px;
}
.aboutbtn a{
  color: white;
  text-decoration: none;
}

.CVbtn {
  width: fit-content;
  padding: 10px 5px;
  background-image: linear-gradient(
    to right,
    rgb(63, 63, 63) 50%,
    rgb(42, 42, 42) 50%
  );
}
.CVbtn:hover {
  background-image: linear-gradient(to right, gray 100%, rgb(42, 42, 42) 50%);
}

/* service */
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servicetxt {
  color: white;
  font-size: 2rem;
  border-bottom: #f55422 solid 2px;
  width: fit-content;
}
.serviceBoxs {
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  margin: 20px;
  width: 80%;
  padding: 10px;
}

.serviceBoxs::-webkit-scrollbar {
  width: 1px;
}

.serviceBoxs::-webkit-scrollbar-thumb {
  background-color: rgb(249, 243, 243);
  border-radius: 10px;
}

.serviceItem {
  width: 250px;
  background-color: #414040;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
}
.itemImg {
  height: 200px;
  width: 200px;
  filter: invert(30%);
  object-fit: contain;
}
.itemName {
  color: white;
}
.itemDis {
  color: rgb(154, 154, 154);
}

.datasc {
  border-radius: 50%;
}
.android {
  height: 150px;
  width: 150px;
  object-fit: contain;
  padding: 25px;
}
.serviceItem:hover {
  border-bottom: #f55422 solid 3px;
}
.serviceItem:hover .itemImg {
  filter: invert(0%);
}

/* my experince */
.Ed ,.wrk{
  padding: 20px;
  color: white;
}
.Ed li ,.wrk li{
  font-size: 1.3rem;
  list-style: none;
  padding: 0;
}
.Ed li::before , .wrk li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #f55422;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 5px;
}
.vl{
  border-left: 2px solid #f55422;
 padding-left: 10px;
 margin-left: 10px;
}

.edDate{
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 15px;
}
.edLoc{
  font-family: "Dancing Script";
}
.company{
font-size: .9rem;
font-style: italic;
font-weight: 100;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .name-animation {
    font-size: 2rem;
    margin: 8px;
  }
  .welc {
    font-size: 1.5rem;
  }
  .data {
    top: 100px;
    width: 100%;
  }

  @keyframes write-delete {
    0% {
      width: 0;
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33.33% {
      width: 288px;
      opacity: 1;
    }
    46.67% {
      width: 288px;
      opacity: 1;
    }
    60% {
      width: 0;
      opacity: 0;
    }
    80% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
}

.mylinks {
  top: 245px;
}
.mylinks a {
  font-size: x-large;
}
.headerbtn {
  top: 300px;
}

/*  about me  */

.aboutName {
  font-size: 2.6rem;
}

.abouttitle {
  font-size: 1rem;
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  body {
    margin: 0 auto;
  }

  #closebtn,
  #openbtn {
    display: none;
  }
  .header_left {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 60px;
    gap: 0;
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    overflow-x: hidden;
    background: local;
  }

  .header_left a {
    color: white;
  }

  .name-animation {
    font-size: 2.9rem;
    margin: 8px;
  }
  .welc {
    font-size: 1.8rem;
  }
  .data {
    top: 120px;
    width: 100%;
  }

  @keyframes write-delete {
    0% {
      width: 0;
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33.33% {
      width: 380px;
      opacity: 1;
    }
    46.67% {
      width: 380px;
      opacity: 1;
    }
    60% {
      width: 0;
      opacity: 0;
    }
    80% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }

  .mylinks {
    top: 330px;
  }
  .mylinks a {
    font-size: x-large;
  }
  .headerbtn {
    top: 400px;
  }
  .headerbtn button {
    font-size: 25px;
  }

  /*  about me  */

  .aboutName {
    font-size: 2.6rem;
  }

  .abouttitle {
    font-size: 1rem;
  }

  /* service */

  .serviceItem {
    width: 300px;
    background-color: #414040;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
  }
  .itemImg {
    height: 280px;
    width: 280px;
    filter: invert(30%);
    object-fit: contain;
  }
  .itemName {
    color: white;
  }
  .itemDis {
    color: rgb(154, 154, 154);
  }

  .datasc {
    border-radius: 50%;
  }
  .android {
    height: 200px;
    width: 200px;
    object-fit: contain;
    padding: 40px;
  }
  .serviceItem:hover {
    border-bottom: #f55422 solid 3px;
  }
  .serviceItem:hover .itemImg {
    filter: invert(0%);
  }


.myExperice{
  display: flex;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  header {
  }
  .head_bg {
    position: fixed;
    top: 0;
    width: 1000px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 20;
    margin: 0 auto;
    flex-wrap: nowrap;
    /* border: 1px red solid; */
  }
  .headrCtr {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 0;
    margin: 0;
  }
  #closebtn,
  #openbtn {
    display: none;
  }
  .header_left {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 60px;
    gap: 0;
    padding: 0 20px;
    position: static;
    top: 0;
    right: 0;
    margin: 0;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .header_left a {
    color: white;
  }

  .name-animation {
    font-size: 3.5rem;
    margin: 15px;
  }
  .welc {
    font-size: 1rem;
  }
  .data {
    top: 100px;
    width: 100%;
  }

  @keyframes write-delete {
    0% {
      width: 0;
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33.33% {
      width: 504px;
      opacity: 1;
    }
    46.67% {
      width: 504px;
      opacity: 1;
    }
    60% {
      width: 0;
      opacity: 0;
    }
    80% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }

  /*  about me  */
  .about {
    flex-direction: row;
    width: 1200px;
    gap: 50px;
    padding-top: 10px;
  }
  .abouttxt {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 0;
    /* padding-bottom: 10px; */
  }
  .profileImg {
    width: 600px;
  }

  .abouttitle {
    margin-top: 5px;
    width: 100%;
  }
  .aboutbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .CVbtn {
    width: fit-content;
    display: inline-block;
    /* margin:0; */
    padding: 10px 5px;
    background-image: linear-gradient(
      to right,
      rgb(63, 63, 63) 50%,
      rgb(42, 42, 42) 50%
    );
  }
  .CVbtn:hover {
    background-image: linear-gradient(to right, gray 100%, rgb(42, 42, 42) 50%);
  }

  
  /* service */
.serviceBoxs{width: 1100px;}
  

/* experince */

.myExperice{
width: 1100px;  
}
}
