* {
  /* border: 1px red solid; */
}
.bg_color {
  /* background-color: #323232; */
  background: local;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/Dev_Header_Image-1280x645.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
}
.bgImg {
  width: 100%;
  visibility: hidden;
}

.head_bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 20;
}
#logo {
  height: 60px;
  filter: invert(100%);
}

/* three lines */
#openbtn {
  display: inline-block;
  position: absolute;
  visibility: visible;
  right: 5%;
  top: 10%;
  width: 30px;
  height: 60px;
  z-index: 10;
  margin-top: 10px;
}

#closebtn {
  display: inline-block;
  visibility: hidden;
  position: fixed;
  right: 5%;
  top: 5%;
  width: 20px;
  height: 15px;
  z-index: 10;
  margin-top: 10px;
  padding: 0;
  margin: 0;
}
.up {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  right: 10px;
}
.down {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: relative;
  right: -5px;
  left: -9px;
  bottom: 9px;
}
.header_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  height: 250px;
  overflow: scroll;
  width: 0;
  font-size: larger;
  padding: 30px 0;
  z-index: 11;
  position: fixed;
  top: 60px;
  margin: 0;
  scrollbar-width: 10px;
}
.itemSize {
  width: 25%;
}
.header_left a {
  text-decoration: none;
  color: black;
}

main {
  height: 2000px;
}
#jobtitle {
  display: none;
}
.name-animation {
  display: inline-block;
  width: fit-content;
  font-size: 1.5rem;
  animation-iteration-count: infinite;
  animation: write-delete 8s steps(10, start) infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid #000000;
  color: white;
  margin: 8px;
}
.welc {
  font-size: 0.7rem;
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  margin: 0 auto;
  color: white;
  text-align: center;
  width: 100%;
}

@keyframes write-delete {
  0% {
    width: 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33.33% {
    width: 216px;
    opacity: 1;
  }
  46.67% {
    width: 216px;
    opacity: 1;
  }
  60% {
    width: 0;
    opacity: 0;
  }
  80% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.name-animation::after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
  /* height: 2rem; */
  animation: blink 4s step-end infinite;
}

@keyframes blink {
  from,
  to {
    border-color: #ffffff;
  }
  100% {
    border-color: #ffffff;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .name-animation {
    font-size: 2rem;
    margin: 8px;
  }
  .welc {
    font-size: 1rem;
  }
  .data {
    top: 80px;
    width: 100%;
  }
  
  @keyframes write-delete {
    0% {
      width: 0;
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33.33% {
      width: 288px;
      opacity: 1;
    }
    46.67% {
      width: 288px;
      opacity: 1;
    }
    60% {
      width: 0;
      opacity: 0;
    }
    80% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  body {
    margin: 0 auto;
  }

  #closebtn,
  #openbtn {
    display: none;
  }
  .header_left {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 60px;
    gap: 0;
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    overflow-x: hidden;
  }

  .header_left a {
    color: white;
  }

 
  .name-animation {
    font-size: 2.5rem;
    margin: 8px;
  }
  .welc {
    font-size: 1rem;
  }
  .data {
    top: 80px;
    width: 100%;
  }
  
  @keyframes write-delete {
    0% {
      width: 0;
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33.33% {
      width: 360px;
      opacity: 1;
    }
    46.67% {
      width: 360px;
      opacity: 1;
    }
    60% {
      width: 0;
      opacity: 0;
    }
    80% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  header {
  }
  .head_bg {
    position: fixed;
    top: 0;
    width: 1000px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 20;
    margin: 0 auto;
    flex-wrap: nowrap;
    /* border: 1px red solid; */
  }
  .headrCtr {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 0;
    margin: 0;
  }
  #closebtn,
  #openbtn {
    display: none;
  }
  .header_left {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 60px;
    gap: 0;
    padding: 0 20px;
    position: static;
    top: 0;
    right: 0;
    margin: 0;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .header_left a {
    color: white;
  }

  .name-animation {
    font-size: 3.5rem;
    margin: 15px;
  }
  .welc {
    font-size: 1rem;
  }
  .data {
    top: 100px;
    width: 100%;
  }
  
  @keyframes write-delete {
    0% {
      width: 0;
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33.33% {
      width: 504px;
      opacity: 1;
    }
    46.67% {
      width: 504px;
      opacity: 1;
    }
    60% {
      width: 0;
      opacity: 0;
    }
    80% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
}
